@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.maven-font {
  font-family: "Maven Pro", sans-serif;
}

.header {
  background: #010003;
  box-shadow: 0px 5px 50px rgba(255, 57, 189, 0.1);
}

.card_shadow {
  background: #000000;
  box-shadow: -5px -5px 50px rgba(255, 57, 189, 0.05),
    5px 5px 50px rgba(255, 57, 189, 0.05);
  border-radius: 12px 12px 0px 0px;
}

/* Accordion */
.accordion {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 20px;
}

.accordion-title {
  padding: 14px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  font-size: 1.5rem;
}

.accordion-content {
  padding: 14px;
  background-color: black;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.modal_text {
  color: #717171;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.border_divider {
  margin-right: auto;
  margin-left: auto;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 57, 189, 0.9) -3.29%,
    #c42a90 13.39%,
    #bb2489 32.21%,
    #8e0f64 54.27%,
    rgba(113, 14, 80, 0.9) 80.63%,
    rgba(108, 14, 77, 0.9) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 57, 189, 0.9) -3.29%,
    #c42a90 13.39%,
    #bb2489 32.21%,
    #8e0f64 54.27%,
    rgba(113, 14, 80, 0.9) 80.63%,
    rgba(108, 14, 77, 0.9) 100%
  );
}

@media (max-width: 768px) {
  .accordion {
    font-size: 16px;
  }
}
