@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.maven-font {
  font-family: "__Maven_Pro_66aa57";
}

.header {
  background: #010003;
  box-shadow: 0px 5px 50px rgba(255, 57, 189, 0.1);
}

.card_shadow {
  background: #000000;
  box-shadow: -5px -5px 50px rgba(255, 57, 189, 0.05),
    5px 5px 50px rgba(255, 57, 189, 0.05);
  border-radius: 12px 12px 0px 0px;
}

/* Accordion */
.accordion {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 20px;
}

.accordion-title {
  padding: 14px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  font-size: 1.5rem;
}

.accordion-content {
  padding: 14px;
  background-color: black;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
